# This file you can show for everyone, because it just help them know what secret keys, help easy to fill in this project
sonar.projectKey=
sonar.projectName=
sonar.host.url=
sonar.login=

# === FRONTEND (Vite + React) ===
sonar.sources=frontend/src
sonar.language=js
sonar.sourceEncoding=UTF-8
sonar.exclusions=frontend/node_modules/**,frontend/dist/**

# === BACKEND (NestJS) ===
sonar.sources=backend/src
sonar.tests=backend/test
sonar.test.inclusions=**/*.spec.ts
sonar.exclusions=backend/node_modules/**,backend/dist/**
sonar.typescript.lcov.reportPaths=backend/coverage/lcov.info

# === Optional (combine both reports if using Jest) ===
sonar.javascript.lcov.reportPaths=frontend/coverage/lcov.info
